@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Baskervville SC", serif;
}
/* header sectione */
 .header{
    width: 90%;
    height: 600px;
    margin: 0px auto;
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 632px; 
    /* 
    width: 632px;
    height: 246px;
    left: 501px;
    right: -501px;
    top: 227px;
    bottom: -227px; */
}
.header-banner .title{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}
.header-banner .title2{
    color: rgb(255, 255, 255);
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    text-align: center;
}
/* about section */
.about{
    width: 802px;
    height: 806px;
    margin:40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-title .h4{
    color: rgb(255, 0, 0);
    font-size: 88px;
    font-weight: 700;
    line-height: 160px;
    text-align: center;
}
.about-title .p{
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}
.about-title .h2{
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
}
.about-img{
    width: 802.9px;
    height: 500px;
}
.about-img img{
    width: 100%;
    height: auto;
}
/* bannar card section */
 .card{
    width: 90%;
    height: 620px;
    margin: 30px auto;
    background-image: url(../images/Vectorrr.png);
    background-position: center;
    background-size: cover;
    border-radius: 16px;
} 
.card-sub{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
   
}
.card-titel{
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 30px;
}
 .card .card-head{
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 900;
    margin-top: 120px ;
    letter-spacing: 11%;
    text-align: left;
}
.card p{
    color: rgba(255, 255, 255, 0.8); 
    font-size: 18px;
    font-weight: 400;
    margin-top: 16px;
    text-align: left;
}
.card  #button{
    color: rgb(255, 255, 255);  
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.card-img img{
    width: 100%;
    height: auto;
    margin-top: 90px; 
}
/* menu section */
.menu{
    width: 90%;
    height: 482px;
    border-radius: 16px;
     margin: 40px auto;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 26px;
     background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}
.menu span{
    color: rgb(255, 0, 0);
}
.menu .btn{
    padding: 16px 32px;
    color: #fff;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    border: none;
}
/* parti section */
.parti{
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.parti-title h4{
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
}
.parti-title h2{
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    text-align: left;
    text-transform: capitalize;
}
.parti .parti-title .pixso{
    /* color: rgba(7, 2, 17, 0.6); */
    color: aqua;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}
/* imges section */
.imges{
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.imge img{
 width: 100%;
 height: auto;
 border-radius: 16px;
}